.container {
  padding-top: 1rem;
  text-align: center;
}

.griefinglock {
  border-radius: 10px;
  padding: 12px 36px;
  font-size: 20px;
  background-color: #1ba6b4;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border: none;
  margin-bottom: 2rem;
}

.principallock {
  border-radius: 10px;
  padding: 12px 36px;
  font-size: 20px;
  background-color: #1b5bb4;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border: none;
  margin-bottom: 2rem;
}